
body {
	font-family: "Montserrat";
}

h1 {
	font-family: "Montserrat";
	font-size: 3.5rem;
	line-height: 1.2;
}

h2 {
	font-family: "Montserrat";
	line-height: 1.5;	
}

h3 { 
	font-family: "Montserrat";
}

p {
	color: #8f8f8f;
}

.container-fluid {
	padding: 3% 15% 10%;
}

#title {
	background-color: #ff4c68;
	color : #fff;
}

/*Navigation Bar*/

.navbar {
	padding : 0 0 3.5rem;
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 1rem;
	font-size: 1.2rem;
	font-family: "Montserrat";
}

/*Download Buttons*/

.dl-btn {
	margin : 4% 5% 0 0;
}

/*Title Image*/

.title-image {
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;
}

@media (max-width: 1000px) {
	h1, h2, h3 {
		font-size: 1.5rem;
	}

	#title {
		text-align: center;
	}

	.title-image {
		margin-top: 10%;
		width: 60%;
		transform: rotate(0);
		position: static;
	}	
}

@media (max-width: 600px) {
	.navbar {
		padding : 0 0 2rem;
	}	
}

/*Features Section*/

#features {
	padding : 7% 15%;
	background-color: white;
	position: relative;
	/*z-index: 1; Not necessary because if both elements are positioned and don't have a z-index
	then the element below in the HTML flow will be on top.*/
}

.feature-box {
	text-align: center;
	padding : 3%;
}

.icon {
	color : #ef8172;
	margin-bottom: 1rem;
}

.icon:hover {
	color : #ff4c68;
}

/*Testimonial Section*/

#testimonials {
	text-align: center;
	background-color: #ff4c68;
	color : #fff;
}

.testimonial-image {
	width : 20%;
	border-radius: 100%;
	margin: 5% 3% 2%;
}

.carousel-inner {
	padding: 7% 15%;
}

/*Press Section*/

#press {
	text-align: center;
	background-color: #ff4c68;
	padding-bottom: 3%;
}

.press-image {
	width : 15%;
	margin : 2%;
}

/*Pricing Section*/

#pricing {
	padding: 7% 10%;
	text-align: center;
}

.pricing-card {
	padding: 3% 2%;
}